* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



.image-list {
    list-style: none;
    height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    padding: 0;

}

.image-item {

    display: flex;
    align-items: center;
    justify-content: center;

}

.image-item img {

    width: 400px;
    height: 400px;
    object-fit: cover;
}

.image-item img i {

    color: white;
    font-size: 26px;
    position: absolute;
}

.image-item .icons {
    position: absolute;
}







.image-item span {

    position: absolute;
}

.image-item :hover.icons {

    display: block;
}
